-if current_user.favorites.find_by(item_id: @item)
  = link_to item_favorites_path(@item), remote: true, method: :delete do
    .favoriteBtn.favoriteBtn--color
      %i.fa.fa-star.fa
        お気に入り済み
      = @favorites_count
-else
  = link_to item_favorites_path(@item), remote: true, method: :post do
    .favoriteBtn
      %i.fa.fa-star
        お気に入り
      = @favorites_count


