.AccountFooter
  .AccountFooter--flex
    %nav.footerNav
      %ul
        %li= link_to 'プライバシーポリシー', '#' 
        %li= link_to 'フリマ利用規約', '#'
        %li= link_to '特定商品に関する表記', '#'
    .AcountFooter_logo
      = image_tag "logo/logo.png", height: '50', class: "gray"