.container {
  background-color: #f8f8f8;
  padding: 40px;
  display: block;
  .itemBox {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 24px 40px 40px;
    &__name {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 10px;
    }
    &__photo {
      margin-top: 16px;
      display: block;
      text-align: center;
      &--top {
        &__img {
          justify-content: space-around;
        }
      }
      &--bottom {
      }
    }
    &__price {
      font-size: 46px;
      font-weight: bold;
      text-align: center;
      margin-right: 20px;
      &__postage {
        font-size: 16px;
        text-align: center;
      }
    }
    &__btn {
      display: block;
      margin-bottom: 24px;
      &__edit {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background-color: #3CCACE;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
      }
      &__delete {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background-color: black;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
      }
      &__buy {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background-color: violet;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
      }
      &__login {
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background-color: rgb(49, 197, 62);
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
      }
    }
    .itemDetail {
      font-size: 18px;
      margin-bottom: 24px;
    }
    table {
      box-sizing: border-box;
      border:  solid 1px #f8f8f8;
      width: 100%;
      height: 375px;
      font-size: 14px;
      th {
        border: solid 1px #dedede;
        background-color: #eee;
        width: 20%;
        padding: 8px;
        text-align: center;
      }
      td {
        border: solid 1px #dedede;
        width: 61%;
        padding: 15px;
      }
    }
    .optionalArea {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .favoriteBtn {
        margin-right: auto;
        padding: 5px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;      
      }
      .reportBtn {
        font-size: 14px;
        padding: 6px 10px;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
  .commentBox {
    background-color: #ffffff;
    width: 700px;
    height: 300px;
    margin: 10px auto 0;
    text-align: center;
  }
}
.favoriteBtn--color {
  background-color: #ffb340;
}

