* {
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 110px;
  &__up {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin: 15px 30px 0 190px;
  }
  &__field {
    width: 57vw;
    height: 35px;
    padding-left: 10px;
    margin-top: 15px;
  }
  &__search {
    background-color: lightseagreen;
    padding: 8px;
    margin-top: 15px;
  }
  &__down {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    font-size: 13px;
    margin: 15px 0 0 190px;
  }
  &__category {
    margin-right: 50px;
  }
  &__right {
    font-size: 13px;
    margin: 15px 215px 0 0;
  }
  &__button {
    margin-left: 20px;
    color: black;
  }
}

.main {
  position: relative;
  &__picture {
    width: 100vw;
    height: 560px;
  }
  &__word {
    color: white;
    text-shadow: 1px 1px 5px gray;
    position: absolute;
     top: 200px;
     left: 80px;
  }
  &__subject {
    font-size: 60px;
    margin-bottom: 10px;
  }
  &__subword {
    font-size: 17px;
  }
}

.reason {
  &__box {
  display: flex;
  justify-content: center;
  }
  &__title {
    font-size: 25px;
    margin: 30px 0 60px 0;
  }
  &__line {
    width: 80px;
    border-bottom: 5px solid lightseagreen;
    margin: 15px 0 0 140px;
  }
  &__select {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  &__one {
    margin-left: 180px;
  }
  &__three {
    margin-right: 180px;
  }
  &__number__one {
    color: white;
    background-color: lightseagreen;
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 0 23px;
    position: absolute;
    left: 208px;
  }
  &__number__two {
    color: white;
    background-color: lightseagreen;
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 0 23px;
    position: absolute;
    left: 563px;
  }
  &__number__three {
    color: white;
    background-color: lightseagreen;
    width: 60px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0 0 23px;
    position: absolute;
    right: 447px;
  }
  &__under {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__important {
    color: lightseagreen;
    font-size: 23px;
    font-weight: bold;
  }
  &__text {
    font-size: 23px;
  }
  &__subtext {
    font-size: 17px;
    width: 300px;
    margin: 20px 0 75px 0;
  }
  &__explanation__one {
    margin-left: 200px;
  }
  &__important__one {
    padding-left: 55px;
  }
  &__important__two {
    margin-left: 30px;;
  }
  &__explanation__three {
    margin-right: 205px;
  }
  &__text__three {
    padding-left: 72px;
  }
}

.middle {
  position: relative;
  &__picture {
    width: 100vw;
    height: 400px;
  }
  &__word {
    color: white;
    text-shadow: 1px 1px 5px gray;
    position: absolute;
     top: 100px;
     left: 210px;
  }
  &__subject {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__subword {
    font-size: 17px;
  }
}

.feature {
  &__box {
  display: flex;
  justify-content: center;
  }
  &__title {
    font-size: 25px;
    margin: 65px 0 40px 0;
  }
  &__line {
    width: 70px;
    border-bottom: 5px solid lightseagreen;
    margin: 8px 0 0 60px;
  }
  &__select {
    display: flex;
    justify-content: space-around;
    position: relative;
  }
  &__one {
    margin-left: 180px;
  }
  &__three {
    margin-right: 180px;
  }
  &__under {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 125px 0;
  }
  &__text {
    font-size: 18px;
  }
  &__subtext {
    font-size: 15px;
    width: 275px;
    margin-top: 10px;
  }
  &__explanation__one {
    margin-left: 220px;
  }
  &__text__one {
    padding-left: 45px;
  }
  &__text__two {
    padding-left: 30px;
  }
  &__explanation__three {
    margin-right: 218px;
  }
  &__text__three {
    padding-left: 55px;
  }
}

.content {
  background-color: whitesmoke;
  width: 100vw;
  height: 900px;
  text-align: center;
  &__title {
    font-size: 28px;
    font-weight: bold;
    padding-top: 55px;
  }
  &__subtitle {
    color: lightseagreen;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__box {
    background-color: white;
    height: 260px;
  }
  &__name {
    width: 160px;
    text-align: left;
    padding: 10px 0 0 10px;
  }
  &__price {
    text-align: left;
    padding-left: 10px;
  }
}


