* {
  box-sizing: border-box;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.requiredLabel {
  background-color: red;
  color: white;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 5px;
}

.AccountContainer {
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 180px;
}

.AccountHeader {
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AccountPage {
  width: calc(100% - 300px);
  margin: 0 150px;
  padding-bottom: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  &__title {
    font-size: 14px;
    font-weight: 200;
    border-bottom: solid 1px #f5f5f5;
    line-height: 1.5;
    
    h2 {
      margin: 30px 0;
      letter-spacing: 3px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.AccountPage__form {
  width: 50%;
  margin: 0 auto;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;
    }
  }
}
.FormField--flex {
  display: flex;
}

.year, .month, .day {
  padding: 10px;
  letter-spacing: 1px;
  font-size: 12px;
  height: 40px;
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 40px;
  color: #fff;
  background-color: #ccc;
}

.UserButton {
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.AccountFooter {
  width: 100%;
  height: 180px;
  margin: 0 auto;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  &--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .footerNav ul{
      display: flex;
      margin-bottom: 30px;
      li {
        margin-left: 16px;
        font-size: small;
      }
      li a{
        text-decoration: none;
        color: #333333
      }
    }
    .gray {
      opacity: 0.5;
      filter: grayscale(100%);
    }
}

.mypage {
  background-color: whitesmoke;
  width: 100vw;
  height: 168vh;
  display: flex;
  padding: 40px 0 0 220px;
}
.mypage__left {
  width: 19vw;
  height: 147vh;
  &__box {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  &__text {
    color: black;
    font-size: 15px;
  }
  &__sign {
    color: lightgrey;
    font-size: 18px;
  }
  &__box__title {
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    padding-top: 33px;
  }
}
.mypage__right {
  background-color: white;
  width: 50vw;
  height: 70vh;
  margin-left: 40px;
}
.mypage__right__top {
  background-color: azure;
  height: 25vh;
  border-bottom: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  &__flame {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 0 10px 80px;
  }
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  &__name {
    font-size: 30px;
    font-weight: bold;
  }
}
.mypage__right__under {
  width: 25vw;
  font-size: 30px;
  border-bottom: 1px solid red;
  text-align: center;
  margin: 15px 0 30px 165px;
  &__box {
    font-size: 20px;
    margin: 10px 0 0 30px;
  }
}


