.footer
  .footer__one
    .footer__list
      FURIMAについて
    =link_to "会社概要（運営会社)", "#", class: "footer__menu"
    =link_to "プライバシーポリシー", "#", class: "footer__menu"
    =link_to "FURIMA利用規約", "#", class: "footer__menu"
    =link_to "ポイントに関する特約", "#", class: "footer__menu"
  .footer__two
    .footer__list
      FURIMAを見る
    =link_to "カテゴリー一覧", "#", class: "footer__menu"
    =link_to "ブランド一覧", "#", class: "footer__menu"
    =image_tag "logo/logo-white.png", size: "150x50", class: "footer__logo"
  .footer__three
    .footer__list
      ヘルプ＆ガイド
    =link_to "FURIMAガイド", "#", class: "footer__menu"
    =link_to "FURIMAロゴ利用ガイドライン", "#", class: "footer__menu"
    =link_to "お知らせ", "#", class: "footer__menu"