.purchaseBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

  .purchaseBtn__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  .purchaseBtn__icon {
    width: 60%;
  }
}

.purchaseBtn:hover {
  opacity: 0.6;
  transition: 400ms;
}
